
* {
  margin: 0;
  padding: 0;
}

body {
  /* background:rgb(236, 236, 236); */
}


.header {
  grid-area: header;
  align-items: center;
}

.contentbox {
  background-color: white;
  padding: 10px;
  margin: 10px;
}

.container > .panel {
  height: 400px;
  position: relative;
}

.LargeItems > ul{
  font-size: 30px;
  font-family: 'Roboto', sans-serif, bold700;
}

.hide-on-med-and-down > li > a {
  color: rgb(90, 90, 214);
  font-family: 'Roboto', sans-serif, bold700;
}

.hide-on-med-and-down > li {
  color: rgb(90, 90, 214);
  font-family: 'Roboto', sans-serif, bold700;
}

.container > .first {
  margin-top: 300px;
  position: relative;
}

.DeskImage {
  width: 500px;
  margin-left: 50%;
  position: absolute;
}

.subtext {
  font-size: 15px;
}

.parallelogram {
  width: 100%;
  margin-top: 600px;
  height: 500px;
  position: absolute;
  display: inline-block;
	transform: skew(0deg,-4deg);
	background: rgba(126, 54, 126, 0.37);
}


.LogoTitle {
  color: purple;
  font-size: 20px;
  font-family: 'Roboto', sans-serif, bold700;
}