@font-face {
  font-family: Roboto-Light;
  src: url(Fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(Fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(Fonts/Roboto/Roboto-Regular.ttf);
}

#loading {
  width: auto;
  height: 50px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: red;
}

.grid {
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: 50px 500px 500px;
  grid-template-areas: 
  "header header header"
  ". content ."
  ". footer .";
}

.header {
  grid-area: header;
}

.header > .LogoTitle {
  color: purple;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.content-signup {
  grid-area: content;
  margin: 10px;
}

.content-features {
  grid-area: footer;
  margin: 10px;
}

.grid div:nth-child(even) {
  background-color: grey;
}

.grid div:nth-child(odd) {
  background-color: white;
}