
* {
  margin: 0;
  padding: 0;
}

body {
  /* background:rgb(236, 236, 236); */
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	position: fixed;
  z-index: 999;
	top: 0;
	left: 0;
	right: 0;
  bottom: 0;
  p {
    padding-top:120px;
    margin-left: -60px;
    opacity: 0.8;
  } 
}

.header {
  grid-area: header;
  align-items: center;
}

.contentbox {
  background-color: white;
  padding: 10px;
  margin: 10px;
}

.container > .panel {
  height: 400px;
  position: relative;
}

.LargeItems > ul{
  font-size: 30px;
  font-family: 'Roboto', sans-serif, bold700;
}

.footer {
  position: fixed;
  bottom: 5px;
  margin: 5px;
}

.Logo {
  position: relative;
  top: 5px;
  right: 5px;
  width: 30px;
}

.hide-on-med-and-down > li > a {
  font-family: 'Roboto', sans-serif, bold700;
}

.OSList > li {
  display: inline;
  margin: 10px;
}

.OSList > li > img {
  position: relative;
  /* Adjust these values accordingly */
  top: 10px;
  right: 5px;
}

.hide-on-med-and-down > li {
  color: rgb(90, 90, 214);
  font-family: 'Roboto', sans-serif, bold700;
}

.card-title {
  font-family: 'Roboto', sans-serif, bold700;
}

.container > .first {
  margin-top: 300px;
  position: relative;
}

.DeskImage {
  width: 500px;
  margin-left: 50%;
  position: absolute;
}

.subtext {
  font-size: 15px;
}

.parallelogram {
  width: 100%;
  margin-top: 600px;
  height: 500px;
  position: absolute;
  display: inline-block;
	transform: skew(0deg,-4deg);
	background: rgba(126, 54, 126, 0.37);
}


.LargeText {
  font-size: 20px;
  font-family: 'Roboto', sans-serif, bold700;
}